POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
JWT_SECRET_KEY=
APP_ENVIRONMENT=
OPENSEARCH_PORT=
OPENSEARCH_DASHBOARDS_PORT=
OPENSEARCH_DASHBOARDS_UI_PORT=
OPENSEARCH_INITIAL_ADMIN_PASSWORD=